<table border="1" id="doc">
  <tr>
    <td>Customer Names</td>
    <td>Customer Email</td>
    <td>Customer Contact</td>
  </tr>
  <%= render :partial => "customer", :collection => @customers %>
</table>
<strong> refresh the page to download the excel file!</strong>